<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>댓글 수</title>
</head>
<body>
   <table border="1">
        <thead>
            <tr>
                <th>userid</th>
                <th>username</th>
                <th>Reply Count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reply : ${replyCount}">
                <td th:text="${reply.userid}"></td>
                <td th:text="${reply.username}"></td>
                <td th:text="${reply.replycount}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>